body {
	font-family: Open Sans,sans-serif;
	background-color: #FFFAF0;
}
.center-box {
	vertical-align: middle;
	height: 300px;
	min-width: 200px;
	width: 40vw;
	margin: auto;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	box-shadow: 10px 10px 50px #888888;
}


.button {
	width: 94.4px;
	height: 22.4px;
	padding: 3px;
	border: none;
	display: block;
	margin: auto;
	cursor: pointer;
	background-color: #d34836;
	color: white;
	box-sizing: border-box;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	text-align: left;
	margin-bottom: 10px;
	vertical-align: middle;
}


.button:hover {
	background-color: #da6758;
}


img {
	width: 16px;
	margin-right: 4px;
	background-color: #fff;
	vertical-align: middle;
}

.login-text {
	font-size: 15px;
	margin: 10px;
}

.provider-buttons {
	vertical-align: middle;

}



